<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9oENl8M3se0hdq_0ggK0uTVVqIwHPj9g</string>
	<key>GCM_SENDER_ID</key>
	<string>195485277974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahdibedoui.vamstudy</string>
	<key>PROJECT_ID</key>
	<string>multinav-a6ade</string>
	<key>STORAGE_BUCKET</key>
	<string>multinav-a6ade.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195485277974:ios:c63fef695f5f1bd03f7a37</string>
</dict>
</plist>